.container {
  padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profil-container {
  width: 900px;
  padding: 20px;
  background-color: #dddcdc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.profil-photo {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  object-fit: cover;
  border: 3px solid #000000;
  margin-bottom: 15px;
}

h2 {
  font-size: 22px;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.contact-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-btn:hover {
  background-color: #0056b3;
}
