.post-card {
    flex: 1 1 180px; /* Minimum de 180px, s'adapte à l'espace disponible */
    width: 650px; /* Empêche les cartes d’être trop larges */
    background-color: #dddcdc;
    border-radius: 12px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    padding: 15px; /* Réduit l’espace intérieur */
    transition: transform 0.3s ease-in-out;
}

.post-card:hover {
    transform: scale(1.05);  /* Légère augmentation de la taille au survol */ 
}

.post-card img {
    max-width: 500px; /* Ajuster la taille de l'image */
    height: 250px;
    /* Finesse de la bordure */
    border-radius: 10%;
    object-fit: cover;
    border: 1px solid #12181f;
    margin-bottom: 10px; /* Espace entre l'image et le texte */
}

.post-card h3 {
  font-size: 18px; /* Ajuster la taille du texte */
  color: #333;
}

.post-card p {
  font-size: 13px; /* Ajuster la taille du texte */
  color: #666;
}
